{% extends "site_app/partial/index.html" %}


{% block title %}Lista de colaboradores{% endblock title %}


{% block content %}
<div class="container justify-content-center mt-4">
    <form action="{% url 'lista_colaborador'%}" method="get">
        <div class="form-group">
            <div><input class="form-control" type="text" name="nome" id="nome" placeholder="Nome"></div>
            <div><input class="btn btn-primary my-3" type="submit" value="Pesquisar"></div>
        </div>
</div>


{% if lista_colaborador %}
<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Colaboradores</h2>
        <a href="{% url 'cadastro_colaborador' %}"
           class="btn btn-primary px-4 py-2">Novo colaborador</a>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de nasc</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in lista_colaborador %}
            <tr>
                <td>{{colaborador.id}}</td>
                <td>{{colaborador.nome}}</td>
                <td>{{colaborador.data_nascimento|date:'d/m/Y'}}</td>
                <td>{{colaborador.cpf}}</td>
                <td>{{colaborador.telefone}}</td>
                <td>{{colaborador.status}}</td>
                <td>
                    <a class="btn btn-danger" href="/deletar_colaborador/{{colaborador.id}}" onclick="return confirmDelete('colaborador')">Deletar</a>
                    <a class="btn btn-primary" href="/atualizar_colaborador/{{colaborador.id}}">Atualizar</a>
                </td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>
{% else %}
<div class="container mt-3">
    <p class="text-center h2">Nenhum cadastro encontrado</p>
</div>
{% endif %}
{% endblock content %}
