{% extends "site_app/partial/index.html" %}

{% block title %}Lista de EPI{% endblock title %}

{% block content %}
<div class="container justify-content-center mt-4">
    <form action="{% url 'lista_epi'%}" method="get">
        <div class="form-group">
            <label class="form-label" for="nome_epi">Nome:</label>
            <input class="form-control" type="text" name="nome_epi" id="nome_epi">
        </div>
    <input class="btn btn-primary my-3" type="submit" value="Pesquisar">
</div>

{% if lista_epi %}
<div class="container mt-3">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Lote</th>
                <th>Validade</th>
                <th>Validade uso</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for epi in lista_epi %}
            <tr>
                <td>{{epi.id}}</td>
                <td>{{epi.nome_epi}}</td>
                <td>{{epi.marca}}</td>
                <td>{{epi.modelo}}</td>
                <td>{{epi.lote}}</td>
                <td>{{epi.validade}}</td>
                <td>{{epi.validade_uso}}</td>
                <td>{{epi.status}}</td>
                <td>
                    <a class="btn btn-danger" href="/deletar_epi/{{epi.id}}" onclick="return confirmDelete('epi')">Deletar</a>
                    <a class="btn btn-primary" href="/atualizar_epi/{{epi.id}}">Atualizar</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
<div class="container mt-3">
    <p class="text-center h2">Nenhum EPI encontrado</p>
</div>
{% endif %}
{% endblock content %}